@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-primary-bg: #FF3811;
  --color-secondary-bg: #10b981;
  --color-primary-text: #444444;
  --color-secondary-text: #737373;
  --color-white: #ffffff;
  --color-secondary-bg: #F3F3F3;
}
